.node-button {
    border: none;
    background-color: transparent;
    padding: 2px;
    width: 100%;
    height: 35px;
    text-align: left;
    cursor: pointer;
}

.node-button:not(.selected):hover {
    background-color: rgba(0, 96, 100, 0.1);
}

.dragHint {
    border: 2px dashed rgba(0, 96, 100, 0.5);
}

.dragOver {
    border: 2px solid #880e4f;
}

.selected {
    background-color: rgba(0, 96, 100, 1);
    color: #fff;
}