<ng-container [clrLoading]="loading">
  <clr-tree-node *ngFor="let category of subCategories" > 
    <div class="node-button" 
      (click)="showLinks(category);"
      (keyup.enter)="showLinks(category);"
      [lg-ctx-menu]="menuItems" 
      [target-item]="category"
      droppable 
      [dropScope]="['link','category']" 
      (onDrop)="onDrop($event, category)" 
      [dragHintClass]="'dragHint'" 
      [dragOverClass]="'dragOver'"
      draggable
      [dragScope]="'category'"
      [dragData]="category"
      [dragHandle]="'.drag-handle'"
      >
        <clr-icon class="drag-handle" [attr.shape]="'folder'" *ngIf="!category.expanded" (click)="category.expanded = false"></clr-icon>
        <clr-icon class="drag-handle" [attr.shape]="'folder-open'" *ngIf="category.expanded" (click)="category.expanded = true"></clr-icon>
        <span class="badge">{{category.linkCount}}</span> {{category.title}}
      </div>
    <ng-template [(clrIfExpanded)]="category.expanded">
        <sub-category [categoryId]="category.id" ></sub-category>
    </ng-template>
  </clr-tree-node>
</ng-container>
