<div class="container">
  <mat-card>
    <div class="example-container">
      <div class="example-header">
          <h3>Log In</h3>
      </div>
      <div class="error-message alert alert-danger" *ngIf="loginErrorMessage !== ''">
          {{loginErrorMessage}}
      </div>
      <!-- Username -->
      <mat-form-field>
        <input matInput placeholder="Email" id="email" [(ngModel)]="email" name="email" required #em="ngModel">
      </mat-form-field>
      <div [hidden]="em.valid || !em.touched" class="alert alert-danger">
          Email is required
      </div>
      <br />
      <!-- Password -->
      <mat-form-field>
          <input  matInput placeholder="Password" type="password" id="password" [(ngModel)]="password" name="password" required #pwd="ngModel" (keyup.enter)="login();">
      </mat-form-field>
      <div [hidden]="pwd.valid || !pwd.touched" class="alert alert-danger">
          Password required
      </div>
      <br />
      <!-- Buttons -->
      <div class="button-row">
          <button mat-raised-button color="primary" (click)="login()" >Login</button>
          <button mat-raised-button color="accent" (click)="signup()" >Sign Up</button>
          <button mat-button (click)="signInWithGoogle()">Log In with Google</button>
      </div>
    </div>
  </mat-card>
</div>


