.simlink:hover {
    color: #0000ff;
    cursor: pointer;
}

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-header {
    min-height: 64px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

mat-card {
    width: 500px;
}

mat-form-field {
    width: 100%;
}

.error-message {
    padding: 5px;
    margin: 10px;
}

input[type=password] {
    border: none;
    background: transparent;
}

input[type=password]:not([readonly]):focus {
    border: none;
    background: transparent;
}

.link-favicon {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 550px) {
    mat-card {
        width: 80%;
    }
}