<clr-tree-node *ngFor="let category of rootCategories">
  <clr-icon [attr.shape]="'folder'" *ngIf="!category.expanded" (click)="category.expanded = false"></clr-icon>
  <clr-icon [attr.shape]="'folder-open'" *ngIf="category.expanded" (click)="category.expanded = true"></clr-icon>
  <button class="node-button" (click)="showLinks(category);" [lg-ctx-menu]="menuItems" [target-item]="category"><span class="badge">{{category.linkCount}}</span> {{category.title}}</button>
  <ng-template [(clrIfExpanded)]="category.expanded">
      <sub-category [categoryId]="category.id" ></sub-category>
  </ng-template>
</clr-tree-node>

<div class="empty-state" *ngIf="rootCategories.length === 0">
  <label>Empty</label>
</div>