.node-button {
    border: none;
    background-color: transparent;
    padding: 2px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.node-button:not(.selected):hover {
    background-color: rgba(0, 96, 100, 0.1);
}

.selected {
    background-color: rgba(0, 96, 100, 1);
    color: #fff;
}