.header {
    font-family: nunito;
    color: #686868;
    background-color: transparent;
}

mat-form-field {
    width: 100%;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-container {
    flex: 0 0 auto;
    margin: 0px;
    padding: 0px;
}

.clipboard-icon clr-icon {
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 5px;
    border-top-right-radius: 5px;
}

.clipboard-icon clr-icon:hover {
    background-color: #f5f5f5;
}

.clipboard-icon {
    padding-left: 5px;
}

textarea:focus {
    box-shadow: unset !important;
}