<div mat-dialog-title class="header">
  <mat-icon mat-list-icon>people</mat-icon> <span>Friend Request</span>
</div>
<br />
<mat-dialog-content>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="email" (keyup.enter)="send();">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="send();" >Send</button>
  <button mat-raised-button (click)="onNoClick();" >Cancel</button>
</mat-dialog-actions>
