<div mat-dialog-title class="header">
  <mat-icon aria-label="Edit Category" title="Edit Category">mode_edit</mat-icon> <span>Edit Category</span>
</div>
<br />
<mat-dialog-content>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Category Title" [(ngModel)]="categoryTitle" >
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="saveCategory();" >Save</button>
  <button mat-raised-button (click)="onNoClick();" >Cancel</button>
</mat-dialog-actions>
