.node-button {
    border: none;
    background-color: transparent;
    padding: 2px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.node-button:not(.selected):hover {
    background-color: rgba(0, 96, 100, 0.1);
}

.text-color {
    color: #686868;
}

.empty-state {
    width: 100%;
    padding-left: 20px;
}

.empty-state>label {
    font-weight: bold;
    color: #686868;
}